

<div class="silc-accordion silc-accordion--become-tabs">
    <nav class="silc-accordion__nav">
        <ul class="silc-accordion__nav-items">
            <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-become-tabs-0">Accordion 1</a></li>
            <li class="silc-accordion__nav-item"><a class="silc-accordion__nav-link" href="#silc-accordion-become-tabs-1">Accordion 2</a></li>
        </ul>
    </nav>
    <section class="silc-accordion__section" id="silc-accordion-become-tabs-0">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 1</h2>
        </header>
        <div class="silc-accordion__content"><p>This is the content area of accordion 1</p></div>
    </section>
    <section class="silc-accordion__section" id="silc-accordion-become-tabs-1">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 2</h2>
        </header>
        <div class="silc-accordion__content"><p>This is the content area of accordion 2</p></div>
    </section>
</div>

