

<div class="silc-accordion">
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 1</h2>
        </header>
        <div class="silc-accordion__content"><p>This is the content area of accordion 1</p></div>
    </section>
    <section class="silc-accordion__section">
        <header class="silc-accordion__header">
            <h2 class="silc-accordion__label">Accordion 2</h2>
        </header>
        <div class="silc-accordion__content"><p>This is the content area of accordion 2</p></div>
    </section>
</div>

