

<div class="b-jurado--item ">
    <div class="b-jurado--item--image">
        <img src="https://loremflickr.com/500/500/person" alt="">
    </div>
    <div class="b-jurado--item--captions">
        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
        <p class="text text--color--black font-weight-bold">Convivencia</p>
    </div>
</div>
