

<section class="s-menu d-flex flex-wrap align-items-center">
    <main class="row m-auto">
        <a href="" class="btn btn--link mx-auto mb-5"><img src="../../../img/logo_menu.png" alt=""></a>
        <nav class="s-menu__menu d-flex flex-column align-items-center w-100">
            <a href="" class="btn btn--menu">Login / Registro</a>
            <a href="" class="btn btn--menu">Cómo participar</a>
            <a href="" class="btn btn--menu">Proyectos</a>
            <a href="" class="btn btn--menu">Conoce al jurado</a>
            <a href="" class="btn btn--menu">Premios</a>
        </nav>
    </main>
</section>
<span class="s-menu__actions s-menu__actions--access" id="btn-login">
    <i class="icon icon--open fas fa-user"></i>
    <i class="icon icon--close fas fa-times"></i>
    <span class="s-menu__actions--caption">Acceder / Registro</span>
</span>
<span class="s-menu__actions s-menu__actions--open" id="menu-open">
    <i class="icon fas fa-plus"></i>
</span><section class="s-hero container-fluid mb-5">
    <main class="row">
        <div class="s-hero__brand text-center">
            <a href="" class="btn btn--link"><img src="../../../img/logo.png" alt=""></a>
        </div>
        <div class="s-hero__image col-12 p-0">
            <img src="https://loremflickr.com/g/1920/560/people" />
        </div>
        <div class="s-hero__captions text-center">
            <h2 class="title title--hero text text--color--white">¿Cómo participar?</h2>
            <div class="actions mt-3">
                <button class="btn btn--solid btn--solid--red">¡Sube tu proyecto!</button>
            </div>
        </div>
    </main>
</section><section class="s-buscamos container-fluid mb-5">
    <main class="row">
        <div class="col-12 col-md-8 m-md-auto">
            <div class="row">
                <div class="s-buscamos__image col-4 d-none d-lg-block pl-lg-0">
                    <img src="https://loremflickr.com/g/460/560/people" alt="" class="img_size">
                </div>
                <div class="s-buscamos__captions col-12 col-lg-8 bg--color--blue p-4">
                    <h2 class="title title--section text text--color--white text-left">¿Qué buscamos?</h2>
                    <p class="text text--color--white">Proin accumsan orci non est sollicitudin posuere. Suspendisse sed nisi non justo faucibus bibendum. Nam vel hendrerit ante. Nunc mollis ornare finibus. Ut auctor ante vitae maximus elementum. Ut eget faucibus nunc. Integer dictum mauris non neque volutpat porttitor. Duis scelerisque, est id facilisis iaculis, urna mi vehicula nulla, a dapibus ligula nulla in lacus.</p>
                    <p class="text text--color--white">Donec ultrices volutpat posuere. Donec accumsan nunc nec sagittis tristique. Phasellus mollis mollis lacus. In ultrices dictum euismod. Curabitur at consectetur arcu. Suspendisse nec neque hendrerit, fermentum ex ut, ornare risus. Vivamus dapibus lacinia mauris eu tincidunt. Morbi ac accumsan nibh, ac cursus neque.</p>
                    <p class="text text--color--white">Sed et quam dignissim, facilisis ipsum at, rhoncus turpis. Proin et nisl congue, convallis leo ut, eleifend lorem. Donec eu tellus metus. Donec arcu nisi, convallis ac sapien vel, elementum placerat turpis. Nam ut tortor lectus. Nullam maximus elit luctus dignissim vestibulum. Nullam maximus tincidunt iaculis. Aliquam lacinia justo at pulvinar porta. Nunc sit amet elit egestas, molestie magna vel, aliquet massa. Ut sit amet pretium felis, ut dictum lectus. Duis vulputate metus eget ultrices auctor</p>
                </div>
            </div>
        </div>
    </main>
</section><section class="s-valores container-fluid mb-5">
    <main class="row">
        <h2 class="title title--section text text--color--black text-center col-12">Se valorará</h2>
        <div class="col-12 col-md-8 m-md-auto">
            <div class="row bg--color--ice pt-4 align-items-lg-top pt-lg-5 pb-lg-3">
                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_4.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">El alcance</p>
                </div>                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_1.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">Los logros conseguidos</p>
                </div>                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_3.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">La implicación de los alumnos</p>
                </div>                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_2.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">La ilusión y la creatividad</p>
                </div>            </div>
        </div>
    </main>
</section><section class="s-proyectos container-fluid mb-5">
    <main class="row">
        <h2 class="title title--section text text--color--black text-center col-12">Proyectos</h2>
        <div class="col-12 col-lg-10 m-lg-auto">
            <div class="tabs col-12 mt-3">
                <div class="wrapper">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                            <div class="row">
                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
                            <div class="row">
                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-apps" role="tabpanel" aria-labelledby="nav-apps-tab">
                            <div class="row">
                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-icons" role="tabpanel" aria-labelledby="nav-icons-tab">
                            <div class="row">
                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                                <div class="b-proyecto--item col-11 col-md-5 col-xl-4 mb-xl-4">
                                    <div class="b-proyecto--item--image b-image__animate">
                                            <img src="https://loremflickr.com/320/240/" alt="" class="w-100">
                                        <div class="b-image__animate--caption text-center">
                                            <a href="" class="text text--color--white">Descubre el proyecto</a>
                                        </div>
                                    </div>
                                    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
                                        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
                                        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
                                        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
                                    </div>
                                </div>                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav nav-tabs nav-fill justify-content-center mt-4" id="nav-tab" role="tablist">
                    <a class="btn nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">1</a>
                    <a class="btn nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab" aria-controls="nav-web" aria-selected="false">2</a>
                    <a class="btn nav-item nav-link" id="nav-apps-tab" data-toggle="tab" href="#nav-apps" role="tab" aria-controls="nav-apps" aria-selected="false">3</a>
                    <a class="btn nav-item nav-link" id="nav-icons-tab" data-toggle="tab" href="#nav-icons" role="tab" aria-controls="nav-icons" aria-selected="false">4</a>
                </div>
            </div>
        </div>
    </main>
</section><section class="s-jurado container-fluid mb-5">
    <div class="row">
        <h2 class="title title--section text text--color--black text-center col-12">El jurado</h2>
        <div class="col-12 col-lg-8 m-md-auto bg--color--purple py-4 px-xl-5">
            <div class="main-carousel">
                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>            </div>
        </div>
    </div>
</section><div class="container mb-5">
    <div class="row">
        <h2 class="title title--section text text--color--black text-center col-12">¿Tú también quieres dar tu opinión? </h2>
        <div class="action col-12 text-center mt-3">
            <button class="btn btn--solid btn--solid--red">Vota a tu proyecto favorito</button>
        </div>
    </div>
</div>
<footer class="s-footer container-fluid mt-5 mb-3 pt-5">
    <div class="row justify-content-between no-gutters text-center">
        <a href="" class="btn btn--link m-auto mr-lg-auto ml-lg-0"><img src="../../../img/logo_footer.png" alt=""></a>
        <p class="text text--color--black mt-3"><i class="fas fa-envelope mr-3"></i>Contacto • Todos los derechos reservados • Política de privacidad • Política de cookies</>
    </div>
</footer>
