

<section class="s-buscamos ">
    <main class="row">
        <div class="col-12 col-md-8 m-md-auto">
            <div class="row">
                <div class="s-buscamos__image col-4 d-none d-lg-block pl-lg-0">
                    <img src="https://loremflickr.com/g/460/560/people" alt="" class="img_size">
                </div>
                <div class="s-buscamos__captions col-12 col-lg-8 bg--color--blue p-4">
                    <h2 class="title title--section text text--color--white text-left">¿Qué buscamos?</h2>
                    <p class="text text--color--white">Proin accumsan orci non est sollicitudin posuere. Suspendisse sed nisi non justo faucibus bibendum. Nam vel hendrerit ante. Nunc mollis ornare finibus. Ut auctor ante vitae maximus elementum. Ut eget faucibus nunc. Integer dictum mauris non neque volutpat porttitor. Duis scelerisque, est id facilisis iaculis, urna mi vehicula nulla, a dapibus ligula nulla in lacus.</p>
                    <p class="text text--color--white">Donec ultrices volutpat posuere. Donec accumsan nunc nec sagittis tristique. Phasellus mollis mollis lacus. In ultrices dictum euismod. Curabitur at consectetur arcu. Suspendisse nec neque hendrerit, fermentum ex ut, ornare risus. Vivamus dapibus lacinia mauris eu tincidunt. Morbi ac accumsan nibh, ac cursus neque.</p>
                    <p class="text text--color--white">Sed et quam dignissim, facilisis ipsum at, rhoncus turpis. Proin et nisl congue, convallis leo ut, eleifend lorem. Donec eu tellus metus. Donec arcu nisi, convallis ac sapien vel, elementum placerat turpis. Nam ut tortor lectus. Nullam maximus elit luctus dignissim vestibulum. Nullam maximus tincidunt iaculis. Aliquam lacinia justo at pulvinar porta. Nunc sit amet elit egestas, molestie magna vel, aliquet massa. Ut sit amet pretium felis, ut dictum lectus. Duis vulputate metus eget ultrices auctor</p>
                </div>
            </div>
        </div>
    </main>
</section>
