

<section class="s-jurado ">
    <div class="row">
        <h2 class="title title--section text text--color--black text-center col-12">El jurado</h2>
        <div class="col-12 col-lg-8 m-md-auto bg--color--purple py-4 px-xl-5">
            <div class="main-carousel">
                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>                <div class="b-jurado--item col-12 col-md-6 col-xl-3 text-center mb-3">
                    <div class="b-jurado--item--image">
                        <img src="https://loremflickr.com/500/500/person" alt="">
                    </div>
                    <div class="b-jurado--item--captions">
                        <h4 class="text text--color--black text-uppercase font-weight-bold">Jaime lopez asesio</h4>
                        <p class="text text--color--black">Pedagogo y fundador de School's for Everyone.</p>
                        <p class="text text--color--black font-weight-bold">Convivencia</p>
                    </div>
                </div>            </div>
        </div>
    </div>
</section>
