

<section class="s-valores ">
    <main class="row">
        <h2 class="title title--section text text--color--black text-center col-12">Se valorará</h2>
        <div class="col-12 col-md-8 m-md-auto">
            <div class="row bg--color--ice pt-4 align-items-lg-top pt-lg-5 pb-lg-3">
                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_4.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">El alcance</p>
                </div>                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_1.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">Los logros conseguidos</p>
                </div>                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_3.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">La implicación de los alumnos</p>
                </div>                <div class="b-valor col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center">
                        <img src="../../../img/ico_v_2.png" alt="" class="mb-2">
                        <p class="text text--value text--color--black">La ilusión y la creatividad</p>
                </div>            </div>
        </div>
    </main>
</section>
