<section class="s-hero {{custom_s_class}}">
    <main class="row">
        <div class="s-hero__brand text-center">
            <a href="" class="btn btn--link"><img src="../../../img/logo.png" alt=""></a>
        </div>
        <div class="s-hero__image col-12 p-0">
            <img src="https://loremflickr.com/g/1920/560/people" />
        </div>
        <div class="s-hero__captions text-center">
            <h2 class="title title--hero text text--color--white">¿Cómo participar?</h2>
            <div class="actions mt-3">
                <button class="btn btn--solid btn--solid--red">¡Sube tu proyecto!</button>
            </div>
        </div>
    </main>
</section>