<footer class="s-footer {{custom_s_class}}">
    <div class="row justify-content-between no-gutters text-center">
        <a href="" class="btn btn--link m-auto mr-lg-auto ml-lg-0"><img src="../../../img/logo_footer.png" alt=""></a>
        <p class="text text--color--black mt-3"><i class="fas fa-envelope mr-3"></i>Contacto • Todos los derechos reservados • Política de privacidad • Política de cookies</>
    </div>
</footer>