.s {
    &-hero {
        position: relative;
        &__captions,
        &__brand {
            left: 50%;
            position: absolute;
            z-index: 2;
            width: 100%;
        }
        &__brand {
            top: 1rem;
            transform: translateX(-50%);
        }
        &__captions {
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &__image {
            overflow: hidden;
            img { 
                min-width: 100%;
                transform: translateX(-50%);
                @include breakpoint(c_ipad) { transform: translateX(0);}
            }
        }
    }
}