.s {
    &-buscamos {
        &__image {
            @include breakpoint(c_xtra) { overflow: hidden;}
            img {
                @include breakpoint(c_large) { transform: translateX(-50%);}
                @include breakpoint(c_xtra) { transform: translateX(0);}
            }
        }
    }
}