{{> @s-menu custom_s_class="d-flex flex-wrap align-items-center"}}
{{> @s-hero custom_s_class="container-fluid mb-5"}}
{{> @s-buscamos custom_s_class="container-fluid mb-5"}}
{{> @s-valores custom_s_class="container-fluid mb-5"}}
{{> @s-proyectos custom_s_class="container-fluid mb-5"}}
{{> @s-jurado custom_s_class="container-fluid mb-5"}}
<div class="container mb-5">
    <div class="row">
        <h2 class="title title--section text text--color--black text-center col-12">¿Tú también quieres dar tu opinión? </h2>
        <div class="action col-12 text-center mt-3">
            <button class="btn btn--solid btn--solid--red">Vota a tu proyecto favorito</button>
        </div>
    </div>
</div>
{{> @s-footer custom_s_class="container-fluid mt-5 mb-3 pt-5"}}