<section class="s-valores {{custom_s_class}}">
    <main class="row">
        <h2 class="title title--section text text--color--black text-center col-12">Se valorará</h2>
        <div class="col-12 col-md-8 m-md-auto">
            <div class="row bg--color--ice pt-4 align-items-lg-top pt-lg-5 pb-lg-3">
                {{> @b-valor custom_b_class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center" b-valor_image="../../../img/ico_v_4.png" b-valor_caption="El alcance"}}
                {{> @b-valor custom_b_class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center" b-valor_image="../../../img/ico_v_1.png" b-valor_caption="Los logros conseguidos"}}
                {{> @b-valor custom_b_class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center" b-valor_image="../../../img/ico_v_3.png" b-valor_caption="La implicación de los alumnos"}}
                {{> @b-valor custom_b_class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0 text-center" b-valor_image="../../../img/ico_v_2.png" b-valor_caption="La ilusión y la creatividad"}}
            </div>
        </div>
    </main>
</section>