<section class="s-proyectos {{custom_s_class}}">
    <main class="row">
        <h2 class="title title--section text text--color--black text-center col-12">Proyectos</h2>
        <div class="col-12 col-lg-10 m-lg-auto">
            <div class="tabs col-12 mt-3">
                <div class="wrapper">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                            <div class="row">
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
                            <div class="row">
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-apps" role="tabpanel" aria-labelledby="nav-apps-tab">
                            <div class="row">
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-icons" role="tabpanel" aria-labelledby="nav-icons-tab">
                            <div class="row">
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                                {{> @b-proyecto-item custom_b_class="col-11 col-md-5 col-xl-4 mb-xl-4" b-proyecto_image="https://loremflickr.com/320/240/"}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav nav-tabs nav-fill justify-content-center mt-4" id="nav-tab" role="tablist">
                    <a class="btn nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">1</a>
                    <a class="btn nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab" aria-controls="nav-web" aria-selected="false">2</a>
                    <a class="btn nav-item nav-link" id="nav-apps-tab" data-toggle="tab" href="#nav-apps" role="tab" aria-controls="nav-apps" aria-selected="false">3</a>
                    <a class="btn nav-item nav-link" id="nav-icons-tab" data-toggle="tab" href="#nav-icons" role="tab" aria-controls="nav-icons" aria-selected="false">4</a>
                </div>
            </div>
        </div>
    </main>
</section>