<section class="s-menu {{custom_s_class}}">
    <main class="row m-auto">
        <a href="" class="btn btn--link mx-auto mb-5"><img src="../../../img/logo_menu.png" alt=""></a>
        <nav class="s-menu__menu d-flex flex-column align-items-center w-100">
            <a href="" class="btn btn--menu">Login / Registro</a>
            <a href="" class="btn btn--menu">Cómo participar</a>
            <a href="" class="btn btn--menu">Proyectos</a>
            <a href="" class="btn btn--menu">Conoce al jurado</a>
            <a href="" class="btn btn--menu">Premios</a>
        </nav>
    </main>
</section>
<span class="s-menu__actions s-menu__actions--access" id="btn-login">
    <i class="icon icon--open fas fa-user"></i>
    <i class="icon icon--close fas fa-times"></i>
    <span class="s-menu__actions--caption">Acceder / Registro</span>
</span>
<span class="s-menu__actions s-menu__actions--open" id="menu-open">
    <i class="icon fas fa-plus"></i>
</span>