.s {
    &-menu {
        @extend %transform;
        position: fixed;
        background: white;
        z-index: 9;
        top: -100%;
        left: 0;
        height: 100%;
        width: 100%;
        img { width: 80%;}
        &__actions {
            @include border-radius(100%);
            @extend %transform;
            @extend %general_shadow;
            cursor: pointer;
            position: fixed;
            z-index: 10;
            background: white;
            padding: 0.5rem 0.85rem;
            top: 1rem;
            &--caption { 
                display: none;
                font-size: 0.85rem;
                @include breakpoint(c_large) { 
                    display: block;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                }
            }
            &--access {
                right: 1rem;
                @include breakpoint(c_large) {
                    @include border-radius(2rem);
                }
                .icon {
                    @include breakpoint(c_large) { display: none;}
                    &--close { display: none;}
                }
            }
            &--open { left: 1rem;}
        }
    }
    .icon {
        @extend %transform;
    }
}

.open {
    &-menu {
        .s {
            &-menu { 
                top: 0;
                &__actions {
                    &--open {
                        .icon { transform: rotate(45deg);}
                    }
                    &--access {
                        top: calc(100% - 5rem);
                    }
                }
            }
        }
    }
}