<section class="s-jurado {{custom_s_class}}">
    <div class="row">
        <h2 class="title title--section text text--color--black text-center col-12">El jurado</h2>
        <div class="col-12 col-lg-8 m-md-auto bg--color--purple py-4 px-xl-5">
            <div class="main-carousel">
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
                {{> @b-jurado-item custom_b_class="col-12 col-md-6 col-xl-3 text-center mb-3"}}
            </div>
        </div>
    </div>
</section>