.s {
    &-jurado {
        .flickity {
            &-viewport { 
                min-height: 19rem;
                //@include breakpoint(c_xtra) { min-height: auto;}
            }
            &-page{
                &-dots { display: none;}
            }
            &-button {
                background: none;
                &-icon { fill: white;}
                &.previous {
                    @include breakpoint(c_xtra) { left: -2rem;}
                }
                &.next {
                    @include breakpoint(c_xtra) { right: -2rem;}
                }
            }
        }
    }
}