.s {
    &-proyectos {
        .tab {
            &-pane {
                .row { 
                    flex-flow: inherit;
                    overflow: auto;
                    @include breakpoint(c_xtra) { flex-flow: wrap;}
                }
            }
        }
    }
}