<div class="b-proyecto--item {{custom_b_class}}">
    <div class="b-proyecto--item--image b-image__animate">
        {{#if b-proyecto_image }}
            <img src="{{b-proyecto_image}}" alt="" class="w-100">
        {{/if}}
        <div class="b-image__animate--caption text-center">
            <a href="" class="text text--color--white">Descubre el proyecto</a>
        </div>
    </div>
    <div class="b-proyecto--item--captions bg--color--ice d-flex flex-wrap p-3">
        <h3 class="col-12 text text--color--black text--value p-0 mb-4">El proyecto más valorado con una línea</h3>
        <p class="col-9 col-xl-8 text p-0 m-0"><i class="icon far fa-building mr-2"></i>Colegio San Eugenio y San Isidro</p>
        <button class="col-3 col-xl-4 text-right btn btn--link"><i class="icon fas fa-heart mr-2"></i>356</button>
    </div>
</div>