<div class="b-valor {{custom_b_class}}">
    {{#if b-valor_image }}
        <img src="{{b-valor_image}}" alt="" class="mb-2">
    {{/if}}
    {{#if b-valor_caption }}
        <p class="text text--value text--color--black">{{b-valor_caption}}</p>
    {{/if}}
</div>