%hover-caption {
    .b-image__animate--caption { top: 0;}
}


.b {
    //section valor
    &-valor {
        flex-flow: column;
    }

    //section proyectos
    &-proyecto {
        &--item {
            &:hover {
                @extend %hover-caption;
            }
            &--captions {
                .btn {
                    .icon { color: $b_red;}
                }
            }
        }
    }

    //section jurado
    &-jurado {
        &--item {
            &--image {
                @include border-radius(100%);
                overflow: hidden;
                margin: 0 auto 1.5rem;
                width: 50%;
                img { width: 100%;;}
            }
        }
    }


    //board image generic
    &-image {
        &__animate {
            position: relative;
            overflow: hidden;
            &--caption {
                @extend %transform;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(black, 0.7);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
            }
        }
    }
}