// dev by Cristian Hernandez chernandezwd.com


// colors

$b_ice:             #DEEBEB;
$b_blue:            #75C0C7;
$b_red:             #ED1B2F;
$b_green:           #D2D96D;
$b_yellow:          #F5DA42;
$b_gray:            #707070;
$b_purple:          #E2D3F2;


// fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$b_font: 'Montserrat', sans-serif;


// artefacts, mixins

%general_shadow {
	box-shadow: 7px 7px 20px 0px rgba(50, 50, 50, 0.32);
	&:hover { box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.5);}
}

%transform {
	transform: transition;
	transition-duration: 0.5s;
}

%after-before-bas {
	position: absolute;
	content: " ";
}

@mixin linear-gradient($from, $to) {
	background: $to;
	  background: -moz-linear-gradient(top, $from 0%, $to 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	  background: -o-linear-gradient(top, $from 0%,$to 100%);
	  background: linear-gradient(to bottom, $from 0%,$to 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}

// breakpoints

@mixin breakpoint($point) {
    @if $point == c_mobile {
        @media (min-width: 576px) { @content ; }
    }
    @else if $point == c_ipad {
        @media (min-width: 768px) { @content ; } 
    }
    @else if $point == c_large {
        @media (min-width: 992px) { @content ; } 
    }
    @else if $point == c_xtra {
        @media (min-width: 1200px) { @content ; } 
    }
}


// general

body {
    font-family: $b_font;
    font-size: 18px;
}
.img_size {
    height: 100%;
    object-fit: cover;
}


//text
.text {
    font-family: $b_font;
    font-size: 1rem;
    &.text {
        &--color {
            &--ice { color: $b_ice;}
            &--blue { color: $b_blue;}
            &--red { color: $b_red;}
            &--green { color: $b_green;}
            &--yellow { color: $b_yellow;}
            &--black { color: black;}
            &--white { color: white;}
        }
        &--value {
            font-size: 1.3rem;
            font-weight: 700;
        }
    }
}


//title
.title {
    font-family: $b_font;
    text-align: center;
    flex: 0 0 100;
    &.title {
        &--hero {
            color: white;
            font-size: 4rem;
            font-weight: 700;
        }
        &--section {
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
}


//buttons
.btn {
    @extend %transform;
    &.btn {
        &--solid {
            @include border-radius(0);
            padding: 0.4rem 1.5rem 0.8rem;
            font-size: 1.5rem;
            font-weight: 700;
            &:hover {
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
            }
            &--ice {
                background-color: $b_ice;
                color: black;
            }
            &--blue {
                background-color: $b_blue;
                color: black;
            }
            &--red {
                background-color: $b_red;
                color: white;
            }
            &--green {
                background-color: $b_green;
                color: black;
            }
            &--yellow {
                background-color: $b_yellow;
                color: black;
            }
        }
    }
}

//backgrouds
.bg {
    &--color {
        &--ice { background-color: $b_ice;}
        &--blue { background-color: $b_blue;}
        &--red { background-color: $b_red;}
        &--green { background-color: $b_green;}
        &--yellow { background-color: $b_yellow;}
        &--purple { background-color: $b_purple;}
    }
}

.nav {
    &.nav {
        &-tabs {
            border: none;
            .btn {
                @include border-radius(0);
                flex: 0 0 auto;
                color: white;
                background-color: $b_gray; 
                border: none;
                margin-right: 1rem;
                &:last-child { margin-right: 0;}
                &.active { background-color: black;}
            }
        }
    }
}